assets/executables/**/*.exe filter=lfs diff=lfs merge=lfs -text
assets/executables/**/ffmpeg filter=lfs diff=lfs merge=lfs -text
assets/executables/**/ffprobe filter=lfs diff=lfs merge=lfs -text
assets/executables/**/waifu2x-ncnn-vulkan filter=lfs diff=lfs merge=lfs -text
assets/executables/** filter=lfs diff=lfs merge=lfs -text
