# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Альтернативно можно исключить все файлы модели:
assets/executables/linux/models-cunet/
assets/executables/linux/models-upconv_7_anime_style_art_rgb/
assets/executables/linux/models-upconv_7_photo/
assets/executables/macos/models-cunet/
assets/executables/macos/models-upconv_7_anime_style_art_rgb/
assets/executables/macos/models-upconv_7_photo/
assets/executables/windows/models-cunet/
assets/executables/windows/models-upconv_7_anime_style_art_rgb/
assets/executables/windows/models-upconv_7_photo/